<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= @title %></title>
	<link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="header-links">
      <p>
        <a href="/">all sites</a>
  	  <% unless @site.nil? %>| <a href="/<%= @site %>/"><%= @site %></a><% end %>
      </p>
    </div>
  </div>

<div id="content_wrap">
<div id="main">
<%= yield %>
</div>
<div id="sidebar">
	<form action="<%= @action %>" method="get">
		<p>Search this site:</p>
		<input name="q" type="text" size="20" /><br />
		<input type="submit" value="Search" />
	</form>
  <div id="tag_cloud">
  	<%= erb :tags %>
  </div>
</div>
</div>

<div id="footer">
	<p>
		Source is Copyright &copy; 2011 Google, Inc., all rights reserved.
		Data is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">
		Creative Commons (cc-wiki)</a> license.
                Layout based on <a href="http://www.styleshout.com/">CoolWater from Erwin Aligam</a> (also licensed under CC).
	</p>
</div>
</div>
</body>
</html>
